<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Avada Music</title>
</head>
<body>
    <!-- container vue -->
    <div id="app">
        <!-- nav bar -->
        <nav>
            <!-- la classe container si occuperà soltanto di contenere i vari elementi e di staccarli dai margini dello schermo -->
            <div class="container">
                <div class="logo_container">
                    <img class="logo" src="music\images\avada-music-logo-mobile-retina.png" alt="">
                    <h2>AVADA MUSIC</h2>
                </div>
                <span :class="show">
                    <i @click="clickMenu()" class="fas fa-bars"></i>
                </span>
                <span :class="hide">
                    <i @click="clickMenu()" class="fas fa-times"></i>
                </span>
            </div>
        </nav>
        <div :class="hide" class="hamburger_menu">
            <ul class="menu_list">
                <li v-for="val in menu">{{val}}</li>
            </ul>
        </div>
        <!-- /nav bar -->
        <!-- header -->

        <header>
            <h1>Untold Stories</h1>
            <h2>There is an untold story behind every favourite song.</h2>
            <div class="cta_container">
                <div class="latest_album">LATEST ALBUM</div>
                <div class="live_dates">LIVE DATES</div>
            </div>
        </header>

        <!-- /header -->
        <!-- section Music is Life -->

        <section class="music_is_life">
            <div class="pink_bar"></div>
            <h2>Music is Life</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae praesentium aperiam repellendus deserunt laudantium id quos incidunt, ipsum corrupti dolorum</p>
        </section>

        <!-- /section Music is Life -->
        <!-- section latest brand news -->

        <section class="latest_brand_news">
            <h2>Latest Brand News</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae praesentium aperiam repellendus deserunt laudantium id quos incidunt, ipsum corrupti dolorum</p>
            <div class="container container_img">
                <div class="left_container_img">
                    <div v-for="val in blogArray[0].blogpost" class="blog " :key="val.img">
                        <div class="cover_cards">
                            <h3>{{val.title}}</h3>
                        </div>
                        <img :src="val.img" alt="">
                        <div class="text_container">
                            <h3>{{val.title}}</h3>
                            <p>{{val.text}}</p>
                        </div>
                    </div>
                </div>
                <div class="right_container_img">
                    <div v-for="val in blogArray[0].blogpostRight" :key="val.img" class="blog">
                        <div class="cover_cards">
                            <h3>{{val.title}}</h3>
                        </div>
                        <img :src="val.img" alt="">
                        <div class="text_container">
                            <h3>{{val.title}}</h3>
                            <p>{{val.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- /section latest brand news -->
        <!-- section player cta -->

        <section class="player_cta">
            <div class="cta_player">
                <h2>VIEW ALL LATEST NEWS</h2>
            </div>
            <div class="quote">
                <h2>“I just listened to it and said to myself, “Man, I really love this album.” Still, today, it just sounds so fresh. It sounds full of ideas. These guys knew what they were doing. They’re good. And they’re inventive. I haven’t heard anything this year that’s as inventive. I don’t really expect to.”</h2>
                <i class="fas fa-play-circle"></i>
            </div>
        </section>

        <!-- /section player cta -->
        <!-- section live dates -->

        <section class="live_date">
            <h2>Live Dates</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, vero quos in debitis odio obcaecati dolores natus voluptatem, reiciendis totam impedit voluptas</p>
            <div class="container">
                <ul class="date_list">
                    <li @click="clickDates(index)" v-for="(item, index) in datesArray">
                        <span :class="item.visible">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span :class="item.notVisible">
                            <i class="fas fa-minus"></i>
                        </span>
                        {{item.date}}
                        <div class="item_elements" :class="datesArray[index].dateShow">
                            <div class="map_permission">
                                <p>
                                    For privacy reasons Google Maps needs your permission to be loaded.
                                </p>
                                <div class="cta_accept">I ACCEPT</div>
                            </div>
                            <div class="li_description">
                                <h3>{{item.title}}</h3>
                                <p>{{item.text}}</p>
                                <div class="cta_accept">BOOK NOW</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- /section live dates -->


    </div>
<!-- /container vue -->


    <script src="js/script.js"></script>
</body>
</html>